body {
    background-color: rgb(137, 245, 110);
  }
  

  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: groove;
    border-width: 5px;
  }

  p {
    font-family: verdana;

  }
  
  h2 {
    border-top: darkblue;
  }
  
 nav {
    border: darkred;
  
 }

